<html ng-app="diditApp">
<head>
    <link rel="stylesheet" href="css/stylesheet.css"></link>
    <meta name="viewport" 
          content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>Did It</title>
    <script src="js/lib/angularjs.1.2.14.min.js"></script>
    <script src="js/controllers.js"></script>
</head>
<body>
    <header>
        <navbar>
            <a id="brand" href="index.html">Did It</a>
            <ul class="active-{{active}}" id="menu-links" ng-controller="MenuCtrl">
                <li ng-repeat="section in sections">
                    <a href='{{section.url}}'>{{section.name}}</a>
                </li>
            </ul>
            <a id="menu-link" ng-init="false" ng-click="active = !active">
                <i class="fa fa-bars fa-2x"></i>
            </a>
        </navbar>
    </header>
    <div id="container" class="active-{{active}}" ng-controller="TaskListCtrl">
        <form ng-submit="addTask()">
            <input ng-model="taskName" id="inputTextTask" placeholder="Add a new task here" type="text" ng-model-instant/>
            <button id="addButton">Add</button>
        </form>
        <ul>
            <li ng-repeat="task in tasks">
                <input ng-model="task.done" type="checkbox" checked={{task.done}}/>
                <span class="done-{{task.done}}">{{task.name}}</span>
            </li>
        </ul>
    </div>
</body>
</html>