// Constants for the Did It application


// Global ------------------------------------------------------------------------

$body-font-family                           : Arial, Helvetica, sans-serif;

// Menu   ------------------------------------------------------------------------

$menu-height                                : 50px;
$menu-margin-bottom                         : 20px;

$menu-shadow-x                              : 5px;
$menu-shadow-y                              : 5px;
$menu-shadow-blur                           : 5px;
$menu-shadow-color                          : #6F6F6F;

$menu-transition-time                       : 0.15s;
$menu-transition-type                       : ease;

$menu-translate-x                           : 150px;
$menu-translate-y                           : 0px;

$menu-background-color                      : #2F2F2F;
$menu-background-color-hover                : #353535;
$menu-background-color-callback             : $menu-background-color-hover;

$menu-font-color                            : white;
$menu-font-color-hover                      : #F14400;
$menu-font-color-callback                   : $menu-font-color-hover;

$menu-brand-font-size                       : 25px;
$menu-brand-margin-left                     : 5%;
$menu-brand-margin-right                    : $menu-brand-margin-left;

$menu-link-margin-top                       : 8.5px;




