/*
 * Stylesheet for the index page.
 */
.wrap {
    height                  : 50px;
}

body {
    #inputTextTask {
        width               : 100%;    
    }
}
footer {
   position                 : fixed;
   left                     : 0px;
   bottom                   : 0px;
   height                   : inherit;
   width                    : 100%;
   background               : white;
    
    .well {
        margin-bottom       : 0px;
    }
}

.done-true {
    color               : gray;
    text-decoration     : line-through;
    font-style          : italic;  
}

