// Stylesheet for the menu of the Did It application

body {
    padding: 0;
    margin: 0;
    font-family: $body-font-family;
    
    header navbar {   
        display : inline-block;
        background-color : $menu-background-color;
        color : $menu-font-color;
        margin-bottom: $menu-margin-bottom;
        width : 100%;
        height : $menu-height;
        line-height: $menu-height;
        
        @include box-shadow($menu-shadow-x, $menu-shadow-y, $menu-shadow-blur, $menu-shadow-color);
        
        #brand {
            display: inline-block;
            float: left;
            margin-left: $menu-brand-margin-left;
            margin-right: $menu-brand-margin-right; 
            font-size: $menu-brand-font-size;
        }
        
        a {
            display: inline-block;
            color: $menu-font-color;
            text-decoration: none;
            &:hover {
                color: $menu-font-color-hover;
            }
        }
        
        ul {
            @include breakpoint(small) {
                padding: 0;
                margin: 0;
                position: fixed;
                top: $menu-height;
                bottom: 0;
                width: $menu-translate-x;
                right: -$menu-translate-x;
                height: 100%;
                
                @include transition($menu-transition-time, $menu-transition-type);
                
                &.active-false {
                    @include translate(0px, 0px);    
                }
                &.active-true {
                    background-color: $menu-background-color;
                    @include translate(-$menu-translate-x, 0px);
                }
            }
            margin-top : 0;
            
            li {
                list-style: none;
                float: left;
                line-height: $menu-height;
                
                @include breakpoint(medium-large) {
                    width: 10%; 
                    display: inline-block;
                }
                
                @include breakpoint(small) {  
                    width: 150px;
                    clear: both;
                }
                
                a {
                    display: block;
                    text-align: center;
                }
                
                a:hover {
                    background-color: $menu-background-color-hover;
                    color: $menu-font-color-hover;
                }
            }
        }
        
        #menu-link {           
            @include breakpoint(medium-large) {
                display: none;
            }
            
            float: right;
            margin-top: $menu-link-margin-top;
            margin-right: 5%;        
        }
    }
    
    #container {
        @include breakpoint(small) {  
            @include transition($menu-transition-time, $menu-transition-type);
            
            &.active-false {
                @include translate(0px, 0px);            
            }

            &.active-true {
                @include translate(-$menu-translate-x, 0px);    
            }
        }
    }
}