@import url(font-awesome.min.css);
body {
  padding: 0;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif; }
  body header navbar {
    display: inline-block;
    background-color: #2f2f2f;
    color: white;
    margin-bottom: 20px;
    width: 100%;
    height: 50px;
    line-height: 50px;
    -moz-box-shadow: 5px 5px 5px #6f6f6f;
    -webkit-box-shadow: 5px 5px 5px #6f6f6f;
    -o-box-shadow: 5px 5px 5px #6f6f6f;
    box-shadow: 5px 5px 5px #6f6f6f; }
    body header navbar #brand {
      display: inline-block;
      float: left;
      margin-left: 5%;
      margin-right: 5%;
      font-size: 25px; }
    body header navbar a {
      display: inline-block;
      color: white;
      text-decoration: none; }
      body header navbar a:hover {
        color: #f14400; }
    body header navbar ul {
      margin-top: 0; }
      @media (max-width: 768px) {
        body header navbar ul {
          padding: 0;
          margin: 0;
          position: fixed;
          top: 50px;
          bottom: 0;
          width: 150px;
          right: -150px;
          height: 100%;
          -webkit-transition: 0.15s ease;
          -moz-transition: 0.15s ease;
          -o-transition: 0.15s ease;
          transition: 0.15s ease; }
          body header navbar ul.active-false {
            -webkit-transform: translate(0px, 0px);
            -moz-transform: translate(0px, 0px);
            -o-transform: translate(0px, 0px);
            -ms-transform: translate(0px, 0px);
            transform: translate(0px, 0px); }
          body header navbar ul.active-true {
            background-color: #2f2f2f;
            -webkit-transform: translate(-150px, 0px);
            -moz-transform: translate(-150px, 0px);
            -o-transform: translate(-150px, 0px);
            -ms-transform: translate(-150px, 0px);
            transform: translate(-150px, 0px); } }
      body header navbar ul li {
        list-style: none;
        float: left;
        line-height: 50px; }
        @media (min-width: 768px) {
          body header navbar ul li {
            width: 10%;
            display: inline-block; } }
        @media (max-width: 768px) {
          body header navbar ul li {
            width: 150px;
            clear: both; } }
        body header navbar ul li a {
          display: block;
          text-align: center; }
        body header navbar ul li a:hover {
          background-color: #353535;
          color: #f14400; }
    body header navbar #menu-link {
      float: right;
      margin-top: 8.5px;
      margin-right: 5%; }
      @media (min-width: 768px) {
        body header navbar #menu-link {
          display: none; } }
  @media (max-width: 768px) {
    body #container {
      -webkit-transition: 0.15s ease;
      -moz-transition: 0.15s ease;
      -o-transition: 0.15s ease;
      transition: 0.15s ease; }
      body #container.active-false {
        -webkit-transform: translate(0px, 0px);
        -moz-transform: translate(0px, 0px);
        -o-transform: translate(0px, 0px);
        -ms-transform: translate(0px, 0px);
        transform: translate(0px, 0px); }
      body #container.active-true {
        -webkit-transform: translate(-150px, 0px);
        -moz-transform: translate(-150px, 0px);
        -o-transform: translate(-150px, 0px);
        -ms-transform: translate(-150px, 0px);
        transform: translate(-150px, 0px); } }
